* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: "yoster-island";
    src: url("../font/yoster-island.regular.ttf");
}

@font-face {
    font-family: "Digit2000";
    src: url("../font/01-Digit2000.ttf");
}

a {
    text-decoration: none;
    color: #d4c2a8;
}

nav {
    z-index: 2;
    position: fixed;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    background-color: #950e41;


    .button {
        text-align: center;
        width: 100%;
        height: 100%;
        padding: 1%;
        border-bottom: 3px solid black;
        transition: background-color 0.2s, font-size 0.2s;

        &:hover {
            background-color: #de5874;
            border-bottom: 3px solid black;
            font-size: 1.01rem;
            color: #443b2f;

            a {
                color: black;
            }
        }
    }
}


#intro-splash {
    width: 100vw;
    min-height: 100vh;
    padding-top: 200px;
    background: url("../images/gif-stars.gif"),
        url("../images/space_pattern_edited2.png");
    background-attachment: fixed;

    .container-splash {
        width: 70%;
        margin-left: auto;
        margin-right: auto;

        h1 {
            text-align: center;
            font-family: "yoster-island";
            color: white;
            font-size: 4rem;
        }

        p {
            // position: absolute;
            text-align: center;
            background-color: white;
            bottom: 30%;
            margin-left: auto;
            margin-right: auto;
            padding: 1%;
            width: 350px;
            margin-top: 45vh;
        }

        #globe {
            position: absolute;
            top: 30px;
            right: 0;
            left: 0;
            bottom: 0;
            margin: auto;
            width: 300px;
            height: 300px;
            background-image: url("../images/earth_map_edited2.png");
            border-radius: 50%;
            /*border-style: solid; */
            border-width: 10px;
            background-size: cover;
            box-shadow: -10px -20px 50px 2px #000 inset, 0 0 50px 2px #000 inset;
            animation: spin 40s linear infinite;
        }

        @keyframes spin {
            0% {
                background-position: 0;
            }

            100% {
                background-position: -199.99%;
            }
        }
    }
}

.container {
    width: 80%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 55px;

    .dummy-container {
        background: rgba(255, 255, 255, 0.90);
        box-shadow: 1px 4px 10px 2px black;
        min-height: 50vh;
        border-radius: 5px;
    }
}

h2 {
    font-family: "Digit2000";
    text-align: center;
    letter-spacing: .5rem;
    padding: 20px;
    background: rgba(255, 255, 255, 0.90);
    margin-bottom: 30px;
    box-shadow: 1px 4px 10px 2px black;
    border-radius: 5px;
}

p {
    padding: 10px;
    font-size: 1.2rem;
}

.small-text {
    font-size: 0.9rem;
}

ul {
    padding-left: 20px;
    padding-right: 20px;

    li {
        margin-top: 2%;
        padding: 2px;
    }
}


#about-me {
    background-image: url("../images/clouds.png");
    width: 100vw;
    min-height: 100vh;
    background-attachment: fixed;

    .dummy-container {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 35% 35% 29%;
        background-color: #fff;
        color: #444;

        .header {
            grid-column: 1 / 3;
            grid-row: 1;
        }

        .portrait {
            grid-column: 3;
            grid-row: 1 / 3;

            img {
                border-radius: 50%;
                border: 2px solid black;
                box-shadow: 5px 5px 10px 0px black,
                    -5px -5px 10px 0px black;
                width: 100%;
            }
        }

        .work {
            grid-column: 1;
            grid-row: 2;
        }

        .education {
            grid-column: 2;
            grid-row: 2;
        }
    }

    .box {
        background-color: #444;
        color: #fff;
        border-radius: 3px;
        padding: 20px;

    }

}

#skills {
    background-image: url("../images/leafs.png");
    width: 100vw;
    min-height: 100vh;


    .dummy-container {
        p {
            width: 200px;
            margin-left: auto;
            margin-right: auto
        }

        #technologies {
            padding-top: 30px;
            display: flex;
            justify-content: space-around;
            text-align: center;
            flex-wrap: wrap;

            img {
                width: 120px;
            }
        }
    }
}

#connect {
    background-image: url("../images/people-s-b3.jpg");
    width: 100vw;
    min-height: 100vh;
    background-repeat: repeat;
    background-attachment: fixed;

    .container .dummy-container {

        min-height: 25vh;
        border: 1px solid red;

        p {
            width: 90%;
            text-align: center;
            margin-left: auto;
            margin-right: auto
        }

        #networks {
            margin: 3px;
            display: flex;
            justify-content: space-evenly;
            text-align: center;
            flex-wrap: wrap;

            div {
                margin: 10px;
                padding: 10px;
                background-color: rgba(255, 255, 255, 0.767);
                box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.418);
                border-radius: 10px;

                &:hover {
                    box-shadow: 2px 2px 3px 6px rgba(0, 0, 0, 0.418);

                }
            }
        }
    }
}

#goals {
    background-image: url("../images/anna-kolosyuk-481874-unsplash-edited.jpg");
    background-size: cover;
    width: 100vw;
    min-height: 100vh;
    background-attachment: fixed;

    ul li {
        &:nth-child(odd) {
            background-color: rgb(160, 218, 245);

        }

        &:nth-child(even) {
            background-color: rgb(212, 212, 212);
        }
    }
}

@import '_screen-sizes';